*{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}
body{
    margin: 50px;
    background-color: #1f3f53;
}
h1{
    color: rgb(202, 231, 231);
}
select{
    margin: 2rem;
    padding: 1rem;
    background-color: #4E6368;
    color: rgb(202, 231, 231);
}
button{
    padding: 1rem;
    background-color: #3bbddd;
}
button:hover{
    background-color: rgb(11, 241, 234);
}
ul{
    margin: 5vh;
    color: rgb(202, 231, 231);    
}